<div class="text-offwhite bg-offblack navText flex flex-col md:flex-row justify-evenly">
  <div class="flex flex-col justify-center text-7xl text-left">
    <h1>CONSTRUCT</h1>
    <h1>[307]</h1>
  </div>
  <div>
    <div class="flex flex-col justify-center p-8">
      <p>Ul. 42, Br. 307, Sopishte,<br> 1000 Skopje, N. Macedonia<br>+389 75 000 000<br>contact&#64;construct307.com</p>
    </div>
    <div class="flex flex-col justify-center p-8">
      <a href="https://www.instagram.com/lukakrstik/">Instagram</a>
      <a href="www.linkedin.com/in/luka-krstikj-176754275">LinkedIn</a>
      <a href="https://github.com/lukakrstik/">GitHub</a>
    </div>
  </div>
</div>
