<div class="flex flex-row justify-between w-full sticky text-offblack top-0 z-50 bg navText">
  <div class="font-black leading-none">
    <div class="flex-col m-4 justify-center">
        <h3>CONSTRUCT</h3>
        <h3 class="text-left">(307)</h3>
    </div>

  </div>
  <div class="flex flex-row font-light">
    <div class="flex flex-col justify-center">
      <h4 [className]="router.url === '/home' ? 'text-offblack underline m-4 h-fit' : 'text-offblack m-4 h-fit'" >Home</h4>
    </div>
    <div class="flex flex-col justify-center">
      <h4 [className]="router.url === '/projects' ? 'text-tiffblue m-4 h-fit' : 'text-offblack m-4 h-fit'">Projects</h4>
    </div>
    <div class="flex flex-col justify-center">
      <h4 [className]="router.url === '/about-us' ? 'text-tiffblue m-4 h-fit' : 'text-offblack m-4 h-fit'">About Us</h4>
    </div>
  </div>
</div>
