<div class="bg-offblack">
  <div class="navText flex flex-col justify-center mx-auto h-dvh md:w-[60%] lg:w-[30%]">
    <div class="bg-offwhite pt-4 border-4 border-white">
      <div class="font-black text-xl mx-4">
        <p>CONSTRUCT</p>
        <p>(307)</p>
      </div>
      <div class="flex flex-col mt-4">
        <input type="text" class="mb-4 px-2 mx-4 border-krstic border-2 text-siva" placeholder="Username" [(ngModel)]="username">
        <input type="text" class="mb-4 px-2 mx-4 border-krstic border-2 text-siva" placeholder="Password" [(ngModel)]="password">
        <div class="w-full flex justify-end">
          <button routerLink="/home" routerLinkActive="active" class="p-2 w-[20%] mr-4 mb-4 text-offwhite bg-offblack">Back</button>
          <button (click)="login()" class="bg-alertred w-[20%] text-white p-2 mb-4 mr-4">Login</button>
        </div>
        <p *ngIf="errMsg.length" class="border-t-2 border-krstic bg-black text-center text-white p-2">{{errMsg}}</p>
      </div>
    </div>
  </div>
</div>
