#scroll-container{
  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: normal;
  text-overflow: clip;
}
#scroll-text {
  transform: translateX(100%);
  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;
}
@keyframes my-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
