#scroll-container{
  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: normal;
  text-overflow: clip;
}
#scroll-text {
  transform: translateX(100%);
  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;
}
@keyframes my-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.maskimg{
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-image:url('../../assets/mask4.png');
  opacity: 50%;

}

.bgsquare{
  background-image: url("../../assets/pattern.webp");
  background-size: 48%;
}

.bgsquare h1,p, h2{
  background-color: #EAEAEA;
  padding: 0.50rem;
}
