<div class="bg-offblack">
  <app-navbar></app-navbar>
  <div class="bg-offblack navText text-offwhite">

      <div class="text-9xl">
        <h1>CONSTRUCT</h1>
        <h1>307</h1>
      </div>
      <div class="flex justify-end text-justify">
        <div>
          <p>Design & build company based in the heart of the Balkans.
            Based in Skopje, North Macedonia.
            we specialize in modern design and build services that combine cutting-edge architecture with innovative construction techniques.
            Our team is dedicated to creating stylish, functional spaces
            that reflect contemporary aesthetics while meeting the highest standards of quality and efficiency. From concept to completion, we ensure a seamless, collaborative process that brings your vision to life.</p>
        </div>
      </div>
  </div>
  <app-footer></app-footer>
</div>
