<div class="bg-offwhite">
  <app-navbar></app-navbar>
  <div class="bg-offwhite navText text-offblack flex flex-col xl:flex-row h-[85vh] overflow-hidden bgsquare">
      <div class="basis-1/2 flex flex-col justify-between z-10">
        <div class="text-5xl xl:text-9xl mt-16 md:mt-32 w-fit">
          <h1>CONSTRUCT</h1>
          <h1>307</h1>
        </div>
        <div class="flex justify-end">
          <h1 class="text-sm md:text-md text-right mb-32 w-fit">©2024 Construct [307], Skopje N.Macedonia.</h1>
        </div>
      </div>
      <div class="flex flex-col justify-center  basis-1/2 z-10">
        <div>
          <p class="text-md md:text-xl w-100 xl:w-[35vw] mx-auto">Design & build company based in the heart of the Balkans.
            Based in Skopje, North Macedonia.
            we specialize in modern design and build services that combine cutting-edge architecture with innovative construction techniques.
            Our team is dedicated to creating stylish, functional spaces
            that reflect contemporary aesthetics while meeting the highest standards of quality and efficiency. From concept to completion, we ensure a seamless, collaborative process that brings your vision to life.</p>
        </div>
      </div>
  </div>
  <app-footer class="z-20"></app-footer>
</div>
