<div class="bg-offwhite">
  <app-navbar></app-navbar>
  <div class="flex flex-col lg:flex-row z-10">
    <div class="md:basis-1/2 relative">
      <svg class="absolute" width="100%" height="100%" viewBox="0 0 1800 1777" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <path *ngFor="let p of project.svgPaths; index as i"
              (mouseout)="Revert()"
              (mouseover)="CallFloor(project.floors[i])"
              (click)="Floorplan(i)"
              [attr.d]=p style="fill: #171717;fill-opacity:0.48;stroke:#95DBD9;stroke-width:6px;"/>
      </svg>
      <h1 class="absolute top-[100%]  lg:top-[0%]  lg:left-[100%] bg-offblack text-offwhite navText text-xl md:text-4xl w-[15%] text-center text-bold" id="floor"></h1>
      <h1 class="absolute top-[100%]  lg:top-[0%]  bg-offblack text-offwhite navText text-xl md:text-4xl w-full text-center text-bold" *ngIf="this.helper">Hover or click on a floor.</h1>
      <img src={{project.photo}}>
    </div>
    <div class="bg-offwhite text-offblack navText md:basis-1/2 p-8 flex flex-col justify-evenly mt-8 lg:mt-0">
      <div class="w-50 flex flex-col justify-center mb-4">
        <div>
          <h1 class="text-4xl mb-2 lg:text-8xl">{{project.name}}</h1>
          <h1 class="text-lg md:text-3xl md:ml-2">{{project.address}}</h1>
        </div>
      </div>
      <div class="w-50 text-left text-lg">
        <h1>{{project.desc}}</h1>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row z-10 navText" id="floorplan-container" *ngIf="this.show">
    <div class="bg-offwhite text-offwhite md:basis-1/2 py-16 flex flex-col justify-center">
      <div class="flex justify-end mr-4 md:mr-12">
        <div class="flex flex-col justify-end">
          <h1 class="shadow-[0_-10px_60px_-15px_rgba(0,0,0,0.3)] pr-2 h-fit text-3xl md:text-4xl text-center border-offblack w-fit pl-4 font-thin bg-offwhite text-offblack align-bottom pb-0 md:pb-1 pt-1 md:pt-2">Floor</h1>
        </div>
        <h1 class="shadow-xl text-4xl md:text-5xl bg-offblack text-offwhite border-b-2 border-offblack pb-0 md:pb-1 pt-1 md:pt-2 px-4">{{this.project.floors[floorplanIndex]}}</h1>
      </div>
      <div class="flex justify-end">
        <div class="mx-4 md:mr-12 w-full md:w-7/12 shadow-2xl">
          <div class="text-left flex flex-col justify-evenly apartmentsDiv">
            <div *ngFor="let a of project.floorplan[this.floorplanIndex].sold; index as i" [id]="'apart' + i" class="text-center text-md md:text-2xl px-4 flex justify-between w-full">
              <h1 class="basis-3/5 py-4">Apartment {{project.floorplan[this.floorplanIndex].apartments[i]}}</h1>
              <h1 class="basis-2/5 py-4 pl-2" [class]='a ? "border-l-[5px] border-alertred" : "border-l-[5px] border-offblue"'>{{a ? "Sold" : "Available"}}</h1>
              <h1 class="basis-1/5 py-4">{{project.floorplan[this.floorplanIndex].size[i]}}m<sup>2</sup></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative md:basis-1/2">
      <svg class="absolute" width="100%" height="100%" viewBox="0 0 1200 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <path *ngFor="let p of project.floorplan[this.floorplanIndex].paths; index as i"
              (mouseover)="Hover(i)"
              (mouseleave)="OutHover(i)"
              [attr.d]=p [classList]="project.floorplan[floorplanIndex].sold[i] ? 'sold apart' : 'notSold apart'"/>
      </svg>
      <img class="mx-auto" src={{this.floorplanImg}}>
    </div>

  </div>
  <app-footer></app-footer>
</div>
