path{
  opacity: 0%;
}

path:hover{
  opacity: 60%;
  transition: opacity 500ms;
  stroke-width:6px;
}

.apart{
  opacity: 30%;
}

.apartmentsDiv > div:nth-child(even){
  background-color: #e0e0e0;
  color: #171717;
}
.apartmentsDiv > div:nth-child(odd){
  background-color: #EAEAEA;
  color: #171717;
}

.hoveredApart {
  border-right: #171717 solid 14px;
  padding-right: 2px;
  transition: padding-right 250ms, border-right-width 250ms;
}
