path {
  opacity: 0%;
}

path {
  fill: #171717;
  opacity: 0%;
  transition: opacity 400ms;
}

.pathOpacity {
  opacity: 50%;
  transition: opacity 400ms;
}

.maskimg{
  mask-repeat: no-repeat;
  mask-size: cover;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background-color: #EAEAEA;
}
.wrapper::-webkit-scrollbar {
  display: none;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background-back {
  transform: translateZ(-20px) scale(3.3);
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-1px) scale(1.4);
}

.background,
.foreground,
.background-back {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.background-text {
  position: absolute;
  top: 22%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-13px) scale(1);
  font-weight: bold;
}

.blackBtn:hover {
  opacity: 70%;
  transition: opacity  400ms;
}

.blackBtn{
  opacity: 100%;
  transition: opacity  400ms;
}

.greenBtn:hover {
  background-color: #95DBD9;
  transition: background-color 400ms;
}

.greenBtn{
  background-color: #3a7b7b;
  transition: background-color 400ms;
}
