path {
  opacity: 0%;
}

path {
  fill: #171717;
}

.pathOpacity {
  animation-name: opacityShow;
  animation-duration: 400ms;
}
@keyframes opacityShow {
  from {opacity: 0%}
  to {opacity: 50%}
}

.maskimg{
  mask-repeat: no-repeat;
  mask-size: cover;
}

.maskimgSM{
  mask-image: url("/assets/mask3.png");
  mask-repeat: no-repeat;
  mask-size: cover;
}

